@using CSM.Navigation.ViewModels

@{
    var viewModel = Model.ViewModel as TableOfContentsPartViewModel;
}

@if (viewModel.AllowTitle && !String.IsNullOrEmpty(viewModel.Title))
{
<header class="toc">
    <h1>@viewModel.Title</h1>
</header>
}

<nav id="@viewModel.ContainerId" class="toc">
</nav>

@using (Script.Foot())
{
    Script.Require("TableOfContents");
    Style.Require("TableOfContents");

    <script type="text/javascript">
    $(function() {
        var root = $("@Html.Raw(viewModel.RootSelector)");
        var startLevel = @viewModel.StartLevel;
        var endLevel = @viewModel.EndLevel;
        var affix = "@viewModel.Affix".toLowerCase() === "true";
        var makeTopLink = "@viewModel.MakeTopLink".toLowerCase() === "true";
        var topLinkText = "@viewModel.TopLinkText";
        var navTarget = $("#@viewModel.ContainerId");

        navTarget.tableOfContents({
            container: root,
            startLevel: startLevel,
            endLevel: endLevel,
            affix: affix,
            makeTopLink: makeTopLink,
            topLinkText: topLinkText,
        });
    });
    </script>
}
