@model CSM.Navigation.Settings.TableOfContentsSettings

<fieldset>
    <label for="@Html.FieldIdFor(m => m.OptIn)">
        @Html.CheckBoxFor(m => m.OptIn) @T("Opt-In")
    </label>
    <span class="hint">Check to allow table of contents generation to be opt-in</span>
</fieldset>

<fieldset>
    <label for="@Html.FieldIdFor(m => m.Generate)">
        @Html.CheckBoxFor(m => m.Generate) @T("Auto-Generate")
    </label>
    <span class="hint">Check to generate a table of contents by default</span>
</fieldset>

<fieldset>
    <label for="@Html.FieldIdFor(m => m.AllowTitle)">
        @Html.CheckBoxFor(m => m.AllowTitle) @T("Title")
    </label>
    <span class="hint">Check to allow a title to be given to the table of contents</span>
</fieldset>

<fieldset>
    <label for="@Html.FieldIdFor(m => m.RootSelector)">@T("Default Document Root Selector")</label>
    @Html.TextBoxFor(m => m.RootSelector)
    <span class="hint">Enter the default selector to use to define the root of the document</span>
</fieldset>
